body{
	margin:0px;
	padding:0px;
	width:100%;
	height:100vh;
	background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_oa_qV1CsoEF3jV_-vGlyAL2uJt1MVxOHyg&usqp=CAU");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
	font-family: "Open Sans", sans-serif;
}
/*.box{
	margin:10% 10% 10% 10%;
	width: 80%;
	background: #FFFFFF;
	border-radius: 10px;
	position:absolute;
	display: flex;
	flex: 1 1 100%;
	opacity:0.8;
	align-items: stretch;
	justify-content: space-between;
	box-shadow: 0 0 20px 6px #090b6f85;
}
*/
.left img{
	height:30%;
	width:30%;
	border-radius:50%;
	opacity:0.8;
	transform:translate(50%,30%);
}

.right{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(5%,-50%);
	width:30%;
	text-align:left;
	background:white;
	border-radius:10px;
	opacity:0.8;
	box-shadow: 0 0 20px 20px #090b6f85;
}

.right h1{
	text-align:center;
	color:blue;
	padding:0 0 30px 0;
	border-bottom: 1px solid silver;
}

p{
	margin-left:40px;
	padding:10px 10px 10px 0;
	width:70%;
	border:1px solid;
	background:#2691d9;
	border-radius:25px;
	font-size:18px;
	font-weight:700;
	text-align:center;
	color:white;
}
a{
	color:white;
	text-decoration:none;
}
a:hover{
	
	text-decoration:underline;
}

.icons img{
	width:50px;
	height:50px;
	border-radius:10px;
	margin-left:45px;
}
